
.Center {
  width: 320px;
  height: 320px;
  margin: auto;
}

.Cell {
  background-color: lightgray;
  border: 1px solid red;
  width: 18px;
  height: 18px;
  float:left;
}

.Food-cell {
  background-color: white;
  border: 1px solid red;
  width: 18px;
  height: 18px;
  float: left;
}

.Food {
  
}
.SankeCell {
  background-color: black;
}