
.Center {
  width: 320px;
  height: 320px;
  margin: auto;
}

.Cell {
  background-color: lightgray;
  border: 2px solid red;
  width: 16px;
  height: 16px;
  float:left;
}

.SankeCell {
  background-color: black;
}