.Container {
  position: relative;
}
.Background {
  width: 320px;
  height: 320px;
  margin: auto;
  margin-top: 100px;
  background-color: #c2bd80;
}

.Cell {
  width: 20px;
  height: 20px;
  float:left;
}

.Food-cell {
  width: 20px;
  height: 20px;
  float: left;
}

.Snake-face {
  border-bottom:120px solid red; 
  border-left:60px solid white; 
  border-right:60px solid white;
}

.SnakeCell {
  background-color: black;
  border-radius: 8px;
}

.Collapse {
  position: absolute;
  top: 55px;
  left: 40%;
}
.Overlay-option {
  height: 213px;
  width: 290px;
  background-color: #FA8072;
  border-radius: 8px;
}

.Result-score {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.Game-option {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 40px;
}

.Center {
 text-align: center;
}

.Current-score { 
  background: green;
  padding: 15px;
}

.Best-score { 
  background: red;
  padding: 15px;
}